doctype html
html
    head
        title Your Paste
        style
            include paste.css
    body
        div.container
            div.wrapper
                h1#title Your Paste
                p.content #{content}

